/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-family-main), sans-serif;
  font-variation-settings: "wght" var(--font-weight-main-normal);
  background-color: var(--background-color);
  color: var(--accent-color);
  background-image: var(--background-image);
  background-attachment: fixed;
  background-size: cover;
}

.container-style {
  border: 2px solid var(--accent-color);
  background: var(--background-color);
}

.content-inline-size {
  max-inline-size: 700px;
  margin: 0 auto;
}

.header__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 100px auto;
}

.header__title {
  margin-block: clamp(120px, 10.6vw, 136px) 20px;
  color: var(--accent-color);
  font-family: var(--font-family-accent);
  font-size: var(--header-title-font-size);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.header__text {
  color: var(--accent-color);
  font-family: var(--font-family-accent);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
  margin: 25px auto 20px 20px;
}

.theme-menu__button:disabled::before {
  content: "▶";
  inline-size: 14px;
  block-size: 13px;
  color: var(--accent-color);
  opacity: 0.6;
  position: absolute;
  inset-inline-start: -15px;
  animation: jumping-menu-triangle 1s ease-in-out alternate-reverse infinite;
}

@keyframes jumping-menu-triangle {
  from {
    transform: translateX(-2px);
  }

  50% {
    transform: translateX(4px);
  }
}

.theme-menu__button {
  position: relative;
  color: var(--accent-color);
  font-family: var(--font-family-accent);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  border: none;
  background-color: var(--background-color);
}

.theme-menu__button:hover {
  animation: menu-button 0.3s ease forwards;
  cursor: pointer;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible {
  outline: none;
  animation: menu-button 0.3s ease forwards;
}

.theme-menu__button:disabled {
  pointer-events: none;
  animation: menu-button 0.3s ease forwards;
}

@keyframes menu-button {
  to {
    opacity: 0.6;
  }
}

.theme-menu__button:focus-visible::before {
  content: "";
  display: block;
  inline-size: 95%;
  block-size: 2px;
  background-color: var(--accent-color);
  opacity: 0.6;
  border: none;
  animation: menu-button-underline 0.3s ease forwards;
  position: absolute;
  inset-block-end: -4px;
  inset-inline-start: 0px;
  transform-origin: left;
}

@keyframes menu-button-underline {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}

/* MAIN */

.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 0;
}

.card__title {
  color: var(--accent-color);
  font-family: var(--font-family-main);
  font-size: 18px;
  font-style: normal;
  font-variation-settings: "wght" var(--font-weight-main-bold);
  line-height: normal;
  padding: 4px 10px;
}

.card__image-box {
  inline-size: 100%;
  aspect-ratio: 1 / 1;
  position: relative;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  border-inline: 2px solid var(--accent-color);
}

.card__image {
  inline-size: 100%;
  block-size: 100%;
}

.image-watermark {
  position: absolute;
  inset-block-start: 27px;
  inset-inline-end: 27px;
  inline-size: fit-content;
  color: var(--accent-color);
  font-family: var(--font-family-accent);
  text-shadow: 1px 0 0 var(--background-color), 0 -1px 0 var(--background-color),
    0 1px 0 var(--background-color), -1px 0 0 var(--background-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  opacity: 0.5;
  mix-blend-mode: hard-light;
}

@supports (
  (text-stroke: 1px var(--background-color)) or
    (-webkit-text-stroke: 1px var(--background-color))
) {
  .image-watermark {
    -webkit-text-stroke: 1px var(--background-color);
    text-stroke: 1px var(--background-color);
    text-shadow: none;
  }
}

.card__text-box {
  padding: 25px 25px 0;
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.card__text {
  color: var(--accent-color);
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: inherit;
  line-height: 21px;
}

.button-box {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin: 25px;
  align-items: center;
  justify-content: end;
}

.card__icon-button {
  border: none;
  background-color: transparent;
  padding: 0;
  inline-size: 27px;
  block-size: 24px;
}

.like-icon {
  inline-size: 100%;
  block-size: 100%;
}

.card__like-button {
  position: relative;
  display: flex;
  width: 130px;
  height: 38px;
  padding: 9px 17px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  overflow: hidden;
}

.button__text {
  color: var(--button-text-color);
  font-family: var(--font-family-accent);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  mix-blend-mode: difference;
}

/* FOOTER */

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0 100px;
}

.footer__button {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 15px 20px;
  overflow: hidden;
}

.floppy {
  display: block;
  color: var(--button-text-color);
  inline-size: 21px;
  block-size: 21px;
  mix-blend-mode: difference;
}

/* ANIMATION */

.card__like-button:hover,
.footer__button:hover {
  cursor: pointer;
}

.card__like-button:hover::before,
.footer__button:hover::before {
  content: "";
  inline-size: 100%;
  block-size: 100%;
  display: block;
  position: absolute;
  inset: 0;
  background-color: var(--accent-color);
  animation: button-hover 0.5s ease-in-out forwards;
  transform-origin: left;
}

@keyframes button-hover {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

.card__icon-button:hover {
  cursor: pointer;
}

.card__like-button:focus,
.footer__button:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--accent-color);
  animation: button-focus 0.3s ease;
}

@keyframes button-focus {
  from {
    box-shadow: 2px 2px 0 transparent;
  }

  to {
    box-shadow: 2px 2px 0 var(--accent-color);
  }
}

.card__icon-button:focus {
  outline: none;
}

.card__like-button:focus-visible,
.footer__button:focus-visible {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: none;
}

/* MEDIA */

@media (width <= 375px) {
  .page {
    inline-size: 100vw;
  }

  .image-watermark {
    inset-block-start: 25px;
    inset-inline-end: 13px;
  }

  .footer__button {
    flex-direction: column;
  }

  .floppy {
    inline-size: 28px;
    block-size: 28px;
  }
}
